<div class="container">
    <div class="row ">
        <div class="col-12 ">                
            <div class="list-group list-group-item-action mt-3">
                <a [routerLink]="['/values', 'dolar']" class="list-group-item list-group-item-action ">
                    Dólar
                    <i class="bi bi-chevron-right float-end"></i>
                </a>
                <a [routerLink]="['/values', 'euro']" class="list-group-item list-group-item-action">
                    Euro
                    <i class="bi bi-chevron-right float-end"></i>
                </a>
                <a [routerLink]="['/values', 'ipc']" class="list-group-item list-group-item-action">
                    IPC
                    <i class="bi bi-chevron-right float-end"></i>
                </a>
                <a [routerLink]="['/values', 'uf']" class="list-group-item list-group-item-action">
                    UF
                    <i class="bi bi-chevron-right float-end"></i>
                </a>
                <a [routerLink]="['/values', 'utm']" class="list-group-item list-group-item-action">
                    UTM
                    <i class="bi bi-chevron-right float-end"></i>
                </a>
            </div>
        </div>
    </div>
</div>